# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# Sistema Operacional
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log

# =========================
# Banco de dados / dados locais
# =========================

data/banco.json


# =========================
# Arquivos sensíveis
# =========================

.env